@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cairo+Play:wght@700&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "JetBrains Mono";
    color: #353b48;
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;
    left: 50%;
    padding: 6rem;
    position: absolute;
    top: -40px;
    transform: translateX(-50%);
  }
  
  body {
    margin-top: 10rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./1198712-3840x2160-desktop-4k-studio-ghibli-wallpaper.jpg);
    background-size: auto;
    
    
  }
  
  #demo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 150px;
    ; */
   
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    background: -o-linear-gradient(1);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;

  }
  
  .card img {
    width: 90%;
    align-self: center;
    box-shadow: 1px 1px 10px #7f8fa6;
  }
  
  .title {
    font-size: 2rem;
    align-self: center;
    text-align: center;
    padding-top: 10px;
  }
  
  .director {
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  
  
  .description {
    margin-top: 10px;
    text-align:justify;
  }
  