* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "JetBrains Mono";
    color: #353b48;
  }

  body {
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
    background-image: url(./studio2.jpg);
    background-size: cover;
  }

  #demo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    /* margin-right: 20px; */
    width: 180px;
    height: 400px;
  }

  .card.image {
    width: 100%;
    align-self: center;
    box-shadow: 1px 1px 10px #7f8fa6;
  }

  .title {
    font-size: 1.5rem;
    font-style: oblique;
  }


  .type {
    align-self: flex-start;
    font-style: italic;
    font-size: 1.2rem;
  }

  .type::before {
    list-style: circle;
    font-style: normal;
    margin-right: 2px;
  }

  .description {
    margin-top: 10px;
  }