@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: 'Nunito';}

  
#demo{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.cards {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 20%;
  height: 60rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
}

.header{
    background-color: transparent;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header > img{
    height: 18rem;
}
.titles {
  font-size: 20px;
  margin: 0;
}

.covers {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 30px;
}

.contents {
  margin: 0;
}

.dynamic-text {
  font-weight: bold;
}