body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

#image {
    max-width: 100px;
}


p {
    font-family: 'Bad Script', cursive;
    font-family: 'Open Sans', sans-serif;

}