
/* /* #demo{
  
  display: flex;
  flex-direction: column; */



.foto-home{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.titulo{
  font-size: large;
}
.imagem {
  
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid white;
  
}

.films{
  margin-top: 0%;
  text-align: center;
  height: 100%;
        background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
  
}


.title {
  font-size: 2rem;
  text-align: center;
}

.diretor {
  align-self: flex-start;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
}

.diretor::before {
  content: '»';  
  font-style: normal;
  margin-right: 2px;
  text-align: center;
}

.description {
  text-align: center;
  
}